<!-- <nav class="{{navClass}}">
  <div class="container">
    <a href="/" title="" class="branding">
      <img src="" alt="" class="">
    </a>
    <ul class="nav-primary">
      <li><a href="" title="">Link Name</a></li>
    </ul>
    <span class="nav-toggle">
      <a href="javascript:void(0)" title="Toggle the menu" id="nav-primary-toggle" class="hamburger hamburger--spin">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </a>
    </span>
  </div>
</nav> -->
